services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    restart: no
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: ourCheck
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d ourCheck"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: